.header {
  border-bottom: 1px solid #ececec;

  & > .container {
    display: flex;
    align-items: center;
  }

  .logo {
    color: #000000;
  }
}

.navigation-link,
.contacts-list-item-link {
  font-weight: 500;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.navigation-link {
  position: relative;

  color: $title-text-color;

  &.active {
    color: $accent-color;

    &::after {
      position: absolute;
      bottom: -8px;
      left: 0;

      display: block;
      content: '';
      width: 100%;
      height: 4px;
      border-radius: 2px;

      background-color: $accent-color;
    }
  }
}

.contacts-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;

  color: $primary-text-color;
}

.contacts-svg {
  margin-right: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: $primary-text-color;

  .contacts-list-item-link:hover &,
  .contacts-list-item-link:focus & {
    fill: $accent-color;
  }
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;

    & > .container {
      justify-content: space-between;
    }

    .logo {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  .header-button {
    border: none;
    padding: 0;
    height: 40px;
    background-color: transparent;

    .button-cross {
      display: none;
    }

    &.is-open .button-cross {
      display: block;
    }

    &.is-open .button-menu {
      display: none;
    }

    &:hover .button-menu,
    &:focus .button-menu,
    &.is-open:hover .button-cross,
    &.is-open:focus .button-cross {
      fill: $accent-color;
    }
  }

  .menu-wrapper {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    z-index: 100;

    text-align: center;

    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    &.is-open {
      display: block;
    }
  }

  .navigation-list {
    margin-bottom: 60px;
  }

  .navigation-list-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .contacts-list-item:not(:last-child) {
    margin-bottom: 16px;
  }

  .navigation-link,
  .contacts-list-item-link {
    font-size: 18px;
    line-height: 1.167;
  }
}

@media screen and (min-width: 768px) {
  .header-button {
    display: none;
  }

  .menu-wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    margin-left: 81px;
  }

  .navigation-list {
    display: flex;
  }

  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }

  .navigation-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    &.active {
      &::after {
        bottom: 0;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .contacts-list-item-link {
    font-size: 12px;
    line-height: 1.167;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
  }

  .contacts-list-item:not(:last-child) {
    margin-right: 30px;
  }
}
