/* PORTFOLIO */

// .portfolio-filter-list {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 50px;
// }

// .portfolio-filter-item:not(:last-child) {
//   margin-right: 8px;
// }

// .portfolio-filter-button {
//   padding-top: 6px;
//   padding-right: 22px;
//   padding-bottom: 6px;
//   padding-left: 22px;
//   border-radius: 4px;

//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   cursor: pointer;
//   border: none;

//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.62;
//   letter-spacing: 0.03em;

//   background-color: $portfolio-button-bg-color;
//   color: $portfolio-button-title-color;

//   &:hover,
//   &:focus {
//     background-color: $accent-color;
//     color: $text-accent-color;
//     box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
//       0px 3px 1px rgba(0, 0, 0, 0.1);
//   }
// }
