$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$secondary-accent-color: #188ce8;
$text-accent-color: #ffffff;
$dark-theme-text-color: #ffffff;
$portfolio-button-bg-color: #f5f4fa;
$portfolio-button-title-color: #212121;
$portfolio-hover-bg-color: rgba(33, 150, 243, 0.9);
$studio-button-bg-color: #2196f3;
